$color-charcol: #264653;
$color-persian-green: #2a9d8f;
$color-maize-crayola: #e9c46a;
$color-sandy-brown: #f4a261;
$color-burnt-sienna: #e76f51;
$color-azure-x-11: #eaf4f4;

//numeric
$border-radius-standard: 4px;
